@using BerberSalonu.ViewModel
@model BerberYetenekEkleViewModel

@if (TempData["Mesaj"] != null)
{
     <div class="alert alert-success"> @TempData["Mesaj"] </div>
}

<form asp-action="YetenekEkle" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="BerberId" class="control-label">Berber Seçin:</label>
        <select asp-for="BerberId" class="form-control" asp-items="@Model.BerberlerSelectList">
        </select>
        <span asp-validation-for="BerberId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="YetenekId" class="control-label">Yetenek Seçin:</label>
        <select asp-for="YetenekId" class="form-control" asp-items="@Model.YeteneklerSelectList">
        </select>
        <span asp-validation-for="YetenekId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
